* {
    background-color: #bacce8;
}

.hd, .hd *{
    padding:12px;
    background-color: #dfe8f0;
}

.hd {
    border-bottom: 4px solid black;
}

.box, .box *{
    background-color: #dce5f5;
    color: black;
}

.box {
    height: 120px;
    padding: 6px;
    margin: 6px;
}

.btn, .btn * {
    padding: 12px;
    background-color: #bacce8;
    color: black;
}

.pd, .pd * {
    padding: 8px;
    margin-left: 4px;
}

.ct {
    background-color: #7ba5e8;
}

div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
    font-weight: bold;
	color: #cc2e0a
}