* {
    background-color: #1B7E48;
    color: #ffffcc;
}

.field {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left * {
  background-color: #353723;
}

.left{
  background-color: #353723;
  width: 10%;
  left: 0;
}

.right{
    width: 90%;
    right: 0;
}

.centered {
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.date {
    margin:6px;
    padding:6px;
}

a {
    color: #ffffcc;
}

.title{
    color: #66ccff;
    font-weight: bold;
}

a:hover{
    color:pink;
}

.hd, .hd *{
    padding:12px;
    background-color: #353723;
}

.hd {
    border-bottom: 4px solid black;
}

.box, .box *{
    background-color: #353723;
}

.com, .com *{
    background-color: #155e36;
}

.com{
    height: 120px;
    padding: 6px;
    margin: 6px;
}

.box {
    height: 120px;
    padding: 6px;
    margin: 6px;
    border: 2px solid black;
}

.box2 {
    background-color: pink;
    border: 1px solid black;
    padding: 12px;
}

.btn, .btn * {
    padding: 12px;
    background-color: #bacce8;
}

.pd, .pd * {
    padding: 8px;
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.ct {
    background-color: #7ba5e8;
}

div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: pink;
	background-color:black;
}