<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/styles.css}" />

</head>
<body>
    <div>

        <div  class="hd col-md-12" align="center">

                <div class="pd">
                    <a th:href="@{/}">Home</a>

                    <span>
                        <a th:href="@{/new_post}">new post</a>
                    </span>

                    <span>
                        <a th:href="@{/my_posts}">my posts</a>
                    </span>

                    <span>
                        <a th:href="@{/logout}">logout</a>
                    </span>

                    <span>
                        <a>Welcome <span th:text="${username}">guest</span></a>
                    </span>

                    <span>
                        <a th:href="@{/login}">log in</a>
                        <a th:href="@{/register}">sign up</a>
                    </span>

                     <a th:href="@{__${T(com.aboguslawski.blog.util.Mappings).ADD_POST}__}"
                         th:text="add_new_post"
                         href="add_post.html">
                         add post
                     </a>
            </div>

            <!--<div class="col-md-8">
                <form action="#" th:action="@{/search}" th:object="${oldPost}" method="oldPost">
                    <div class="pd">
                        <input type="hidden" th:field="*{id}"/>
                        <a>User: <input class="box2" type="text" th:field="*{usr}"/> </a>
                        <a>Content: <input class="box2" type="text" th:field="*{content}"/> </a>
                        <a><input class="box2" type="submit" value="search"/> </a>
                    </div>
                </form>
            </div>-->

            <!--<div class="col-md-2">
                <form action="#" th:action="@{/}" method="oldPost">
                    <div class="pd">
                        <a><input class="box2" type="submit" value="sort"/> </a>
                    </div>
                </form>
            </div>-->
        </div>


        <!--<ul th:each="oldPost : ${postsList}">
            <div class="row">
                <div class="col-md-1">
                    <div class="box" align="center">
                        <p th:text="${oldPost.usr}"/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box">
                        <a th:text="${oldPost.content}"/>
                    </div>
                </div>
                <div align="center" class="col-md-1">
                    <div class="box">
                        <a th:href="@{__${T(com.aboguslawski.blog.util.Mappings).VIEW_POST}__(id=${oldPost.id})}"
                           th:text="view"
                           href="view_post.html">
                            view oldPost
                        </a>

                    </div>
                </div>
            </div>
        </ul>-->
    </div>

</body>
</html>