<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
                                 integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

<header>
    <div class="topnav">
        <a class="home" th:href="@{/}">Home</a>
        <span sec:authorize="isAuthenticated()">
            <a class="left" th:href="@{/new_post}">New Post</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <a class="left" th:href="@{/user_posts}">My posts</a>
        </span>
        <span sec:authorize="isAuthenticated()">
        <a class="right" th:href="@{/logout}">Logout</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <a class="right">Welcome <span sec:authentication="name">guest</span></a>
        </span>
        <span sec:authorize="!isAuthenticated()">
        <a class="right" th:href="@{/login}">Log In</a>
        <a class="right" th:href="@{/register}">Sign Up</a>
        </span>

    </div>
    <div class="header">
        <h2>Blog app</h2>
        <span class ="right">
            <form  th:action="@{/}" method="get">
                <input id="txtSearch" type="text" name="keyword">
                <button type="submit">Submit</button>
            </form>
            <h2>Sort by: </h2>
            <a th:href="@{'/sort' + '?sortField=title'}">Title</a>
            <a th:href="@{'/sort' + '?sortField=post_content'}">Text</a>
            <a th:href="@{'/sort' + '?sortField=tag'}">Tag</a>
        </span>
    </div>
</header>

<div class="posts_wrapper">
    <div class="post" th:each="post : ${posts}">
        <h2><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
        <p th:text="${post.post_content}">body</p>
        <br>
        <h5 th:text="'Published by ' + ${post.post_authors}">Post author</h5>
        <br>
        <p class="tags" th:text="${post.tag}">tags</p>
    </div>
</div>

<footer>
    <div class="footer">
        <p>Adam Bogusławski</p>
    </div>
</footer>

</body>
</html>
