<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/styles.css}"/>

</head>
<body>
<!--<div th:insert="fragments/general.html" :: header></div>-->

<form method="POST" th:action="@{/new_post}" th:object="${postDTO}">
    <!--    <div class="pd">-->

    <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct errors and resubmit
                </span>
    </div>
    <br/>

    <label>title:</label>
    <input type="text" th:field="*{title}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">title error
            </span>
    <br/>

    <label>content:</label>
    <input type="text" th:field="*{content}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}">content error
            </span>
    <br/>

    <label>authors:</label>
    <input type="text" th:field="*{authors}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('authors')}"
          th:errors="*{authors}">authors error
            </span>
    <br/>

    <label>tags:</label>
    <input type="text" th:field="*{tags}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('tags')}"
          th:errors="*{tags}">tags error
            </span>
    <br/>

    <input type="submit" value="register"/>
    <input type="reset" value="reset"/>
    <!--    </div>-->
</form>

</body>
</html>
